@{
    ViewData["Title"] = "Home Page";

}
<div class="text-center">
    <div class="input-group rounded" style="width: 50%; margin: auto;">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
            aria-describedby="search-addon" />
        <span class="input-group-text border-0 material-symbols-outlined" id="search-addon">
            search
        </span>
    </div>

</div>

<section class="container-fluid align-items-center category-section">
    <div class="container text-center mt-5">
        <div class="row justify-content-center mb-3">
            <div class="col-auto">
                <button type="button" class="btn btn-success category-btn mx-2">
                    <div class="row">
                        <div class="col-12">
                            <span class="material-symbols-outlined">hiking</span>
                        </div>
                        <div class="col-12">
                            <span>Sports</span>
                        </div>
                    </div>
                </button>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-success category-btn mx-2">
                    <div class="row">
                        <div class="col-12">
                            <span class="material-symbols-outlined">apparel</span>
                        </div>
                        <div class="col-12">
                            <span>Clothings</span>
                        </div>
                    </div>
                </button>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-success category-btn mx-2">
                    <div class="row">
                        <div class="col-12">
                            <span class="material-symbols-outlined">pending</span>
                        </div>
                        <div class="col-12">
                            <span>More</span>
                        </div>
                    </div>
                </button>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-success category-btn mx-2">
                    <div class="row">
                        <div class="col-12">
                            <span class="material-symbols-outlined">handyman</span>
                        </div>
                        <div class="col-12">
                            <span>Tools</span>
                        </div>
                    </div>
                </button>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-success category-btn mx-2">
                    <div class="row">
                        <div class="col-12">
                            <span class="material-symbols-outlined">smartphone</span>
                        </div>
                        <div class="col-12">
                            <span>Gadgets</span>
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>

</section>
